/**********************
**********  ****** Feuille de style POKEMONCARD ******************
*****************  START  BLOCK****************
***/

.cart{
    width: 18rem;
    background-color:#574545;
    margin:40px
;}

/**changer le nom de la page en module**/