/**********************
**********  ****** Feuille de style INDEX ******************
*****************  START  BLOCK****************
***/
/*nettoyer le comportement par défaut des éléments du site*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}